<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的足迹</title>
</head>
<body>
<div>
    <ul th:each="time:${times}">
        <li th:each="good:${goods}" th:if="${time.indexOf(good.score.toString())}" >
            <label th:text="${time}"></label>
            <label th:text="${good.score.toString().replaceAll('^\d{9}_$','-')}"></label><br>
            <span th:text="${good.value.getGoods_id()}"></span><br>
            <span th:text="${good.value.getGoods_price()}"></span><br>
            <span th:text="${good.value.getGoods_pic()}"></span><br>
        </li>

    </ul>
</div>
</body>
</html>