<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>展示所有的老人信息</title>
</head>
<body>
    <ul th:each="olds:${oldpeoples}">
        <label th:text="${olds.getId()}"></label></br>
        <label th:text="${olds.getOld_name()}"></label></br>
        <label th:text="${olds.getOld_age()}"></label></br>
        <label th:text="${olds.getOld_birthday()}"></label></br>
        <label th:text="${olds.getOld_homeaddress()}"></label></br>
        <label th:text="${olds.getOld_homeport()}"></label></br>
        <label th:text="${olds.getOld_joindate()}"></label></br>
        <label th:text="${olds.getOld_like()}"></label></br>
        <label th:text="${olds.getOld_nurseid()}"></label></br>
        <label th:text="${olds.getOld_sex()}"></label></br>
        <label th:text="${olds.getOld_son()}"></label></br>
        <label th:text="${olds.getOld_sonphone()}"></label></br>
    </ul>
</body>
</html>