<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>展示所有的护工</title>
</head>
<body>
<ul th:each="nursing:${nursings}">
    <li th:text="${nursing.getId()}"></li></br>
    <li th:text="${nursing.getNurse_age()}"></li></br>
    <li th:text="${nursing.getNurse_name()}"></li></br>
    <li th:text="${nursing.getNurse_birthday()}"></li></br>
    <li th:text="${nursing.getNurse_grada()}"></li></br>
    <li th:text="${nursing.getNurse_joindate()}"></li></br>
    <li th:text="${nursing.getNurse_phone()}"></li></br>
    <li th:text="${nursing.getNurse_sex()}"></li></br>
    <li th:text="${nursing.getNurse_working()}"></li></br>
</ul>
</body>
</html>