<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="old">
    姓名：<input type="text" name="old_name">;
    年龄<input type="number" name="old_age">;
    <p>性别<input type="checkbox" name="old_sex" value="M">M</p><br/>
    <p><input type="checkbox" name="old_sex" value="F">F</p><br/>
    出生日期：<p><input type="date" name="old_birthday"></p></br>
    爱好：<p><input type="text" name="old_like"></p></br>
    家庭住址<p><input type="text" name="old_homeaddress"></p></br>
    子女：<p><input type="text" name="old_son"></p></br>
    子女电话：<p><input type="text" name="old_sonphone"></p></br>
    房间号：<p><input type="number" name="old_homeport"></p></br>
    护工id:<input type="number" name="old_nurseid">;
    入住时间:<p><input type="date" name="old_joindate"></p></br>
    <input type="submit" value="提交">
</form>

<form action="nurse">
    姓名：<input type="text" name="nurse_name">;
    年龄<input type="number" name="nurse_age">;
    <p>性别<input type="checkbox" name="nurse_sex" value="M">M</p><br/>
    <p><input type="checkbox" name="nurse_sex" value="F">F</p><br/>
    出生日期：<p><input type="date" name="nurse_birthday"></p></br>
    电话：<p><input type="text" name="nurse_phone"></p></br>
    等级:<p><input type="number" name="nurse_grada"></p></br>
    入住时间:<p><input type="date" name="nurse_joindate"></p></br>
    政治面貌<p><input type="text" name="nurse_politic"></p></br>
    工作经验<p><input type="text" name="nurse_working"></p></br>

    <input type="submit" value="提交">
</form>
</body>
</html>